@charset "utf-8";

/*
Copyright (c) 2017
[Master Stylesheet]
Theme Name : AuthorShop
Version    : 1.0
Author     : Sumo Connect Team
Author URI : https://sumoconnect.com
Support    : sumoconnect@gmail.com
*/


/*---------------------------------------------
Table of Contents
-----------------------------------------------
## Genaral Styles 
## Buttons & Links #STYLING
## Forms #STYLING
## Rating Star #STYLING
## Pagination & Breadcrumbs #STYLING
## Nav Pills #STYLING
## Css3 Animations
** Top Bar
** Main Navigation Bar
** Hero Header
** Footer
** Preloader
## Testimonial Card #COMPONENT
## Team Card #COMPONENT
## Info Box Center #COMPONENT
## Info Box Left #COMPONENT
## Info Box Bordered #COMPONENT
## Icon Text #COMPONENT
## Icon List #COMPONENT
## Contact Item Chip #COMPONENT
## Price Tables #COMPONENT
## Video Card #COMPONENT
## Panel Type Box #COMPONENT
## Blog Card #COMPONENT
## Widgets
## Widget Components
** Call To Action 
** Cart & Checkout Related Css
** Catalog Page
** Product Single Item View
** Login Page
** Knowledge Base Page
** Forum Page
** About Us Page
** Google Maps
----------------------------------------/*
/*

[Typography]
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;

------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,500,900|Lora:400');
body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


/* ----------------------------------
Genaral Styles - Global Components
---------------------------------- */


/* Typhography */

p {
    font-family: 'Open Sans', sans-serif;
    color: #777777;
    font-size: 15px;
    font-weight: 400;
}

p.paragraph {
    line-height: 26px;
}

h2 {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 0;
}

.cs-section-title {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 35px;
}

.cs-section-title-lg {
    color: #333333;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.cs-section-head {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 35px;
    margin-top: 0;
}

@media(max-width:768px) {
    .cs-section-title-lg {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .cs-section-head {
        font-size: 20px;
        font-weight: 300;
    }
}


/* Floats and Messurements */

.cs-right {
    float: right;
}

.top40 {
    margin-top: 40px;
}

.top20 {
    margin-top: 20px;
}

.btm30 {
    margin-bottom: 30px;
}

.btm50 {
    margin-bottom: 50px;
}

.btm70 {
    margin-bottom: 70px;
}

.cs-row {
    margin-top: 80px;
    margin-bottom: 80px;
}

@media(max-width:768px) {
    .cs-row {
        margin-top: 45px;
        margin-bottom: 45px;
    }
}


/* Colors & Backgrounds */

.primary-color {
    color: #3498db;
}

.secondary-color {
    color: #ff5959;
}

.cs-primary-bg {
    background-color: #d8e4fc;
}

.cs-gray-bg {
    background-color: #f5f5f5;
}
.cs-gr-bg{
    background: #f6f9fc
}


/* ----------------------------------
Buttons & Links #STYLING
---------------------------------- */

.btn {
    padding: 12px 33px;
    min-width: 116px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border: 0;
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.btn-radius{border-radius: 5px;}
.btn-sm{padding: 8px 22px;}
@media(max-width:768px) {
    .btn {
        padding: 10px 25px;
    }
}

.btn:hover {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/* Primary Button */

.btn-primary {
    background-color: #4786ff;
    color: #ffffff;
}

.btn-primary.btn-shadow {
    box-shadow: 0px 2px 0px 0px #3684c5;
}

.btn-primary:hover {
    background: #4786ff;
    color: #ffffff;
}

.btn-primary.btn-shadow:hover {
    box-shadow: 0px 2px 0px 0px #3684c5;
}


/* Seconday Button */

.btn-secondary {
    background-color: #181818;
    color: #ffffff;
}

.btn-secondary:hover {
    background: #403f3f;
    color: #ffffff;
}


/* Blue Button */

.btn-blue {
    background-color: #ff9800;
    color: #ffffff;
}

.btn-blue:hover {
    background: #f7b45a;
    color: #fff;
}

.btn-blue.btn-shadow {
    box-shadow: 0px 2px 0px 0px rgba(5, 76, 138, 0.75);
}


/* Gray Button */

.btn-gray {
    background-color: #828282;
    color: #ffffff;
}

.btn-gray:hover {
    background-color: #989797;
    color: #ffffff;
}

.btn-gray.btn-shadow {
    box-shadow: 0px 2px 0px 0px rgba(74, 72, 72, 0.75);
}

.btn-white {
    background: #fff;
    background-color: #f4f4f4;
    box-shadow: 0px 2px 0px 0px #c6c6c6;
    color: #333333;
}

.btn-block {
    width: 100%;
}

.btn-round {
    border-radius: 4px;
}

.uppercase {
    text-transform: uppercase;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-blue:focus,
.btn-gray:focus {
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
}


/* Links */

ul {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0px;
}

a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media(max-width:768px) {
    .list-inline>li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


/* ----------------------------------
Forms #STYLING
---------------------------------- */

 

.input-group {
    margin-bottom: 20px;
    width: 100%;
    border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

textarea,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input.form-control {
    border-radius: 0;
    height: 45px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #190f27;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    font-family: 'Open Sans', sans-serif;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    font-family: 'Open Sans', sans-serif;
    height: auto;
}

textarea:focus,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
.form-control:focus {
    box-shadow: 0px 0px 0px 1px #4786ff;
    border-color: #4786ff;
}

.styled-select {
    /* background: url(../images/arrow.png) no-repeat right #fff;
    background-size: 30px 59px;*/
}

.styled-select select {
    /* background: transparent;*/
    color: #b5b5b5;
    padding-left: 10px;
    /*    -webkit-appearance: none;*/
    cursor: pointer;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}


/* ----------------------------------
Rating Star #STYLING
---------------------------------- */

.fa-fw {
    color: #ffc900;
    width: 1em;
    font-size: 14px;
}

.rate-o .fa-fw {
    color: #ffffff;
}


/* ----------------------------------
Pagination & Breadcrumbs #STYLING
---------------------------------- */


/* Pagination */

.cs-pagination.pagination {
    margin-bottom: 0;
    margin-top: 30px;
}

.cs-pagination.pagination>li>a,
.cs-pagination.pagination>li>span {
    -webkit-transition: none;
    transition: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    background-color: #fff;
    width: 45px;
    height: 45px;
    margin-right: 4px;
    color: #555555;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    border-radius: 0;
}

.cs-pagination.pagination>li>a:hover {
    background-color: #5f8e20;
    color: #ffffff;
    border-color: #5f8e20;
}

.cs-pagination.pagination>.active>a,
.cs-pagination.pagination>.active>a:focus,
.cs-pagination.pagination>.active>a:hover,
.cs-pagination.pagination>.active>span,
.cs-pagination.pagination>.active>span:focus,
.cs-pagination.pagination>.active>span:hover {
    background-color: #4786ff;
    color: #ffffff;
    border-color: #4786ff;
}


/* Breadcrumbs */

.cs-bradcrumb {
    background: transparent;
    margin-bottom: 0;
}

.cs-bradcrumb.breadcrumb>li>a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.cs-bradcrumb.breadcrumb>.active {
    color: #b8eaa0;
}

.cs-bradcrumb.breadcrumb>li+li:before {
    color: #fff
}


/* ----------------------------------------
Nav Pills #STYLING
---------------------------------------- */

.cs-nav-pills.nav-pills {
    text-align: center;
    margin: 35px 0;
}

.cs-nav-pills.nav-pills>li {
    display: inline-block;
    float: none;
}

.cs-nav-pills.nav-pills>li>a {
    padding: 5px 18px;
    color: #989898;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 0;    background-color: #e9e9e9;
    color: #333333;
}

.cs-nav-pills.nav-pills>li>a:hover {
    color: #333333;
}

.cs-nav-pills.nav-pills>li.active>a,
.cs-nav-pills.nav-pills>li.active>a:focus,
.cs-nav-pills.nav-pills>li.active>a:hover {
   background-color: #ff9800;
    color: #ffffff;
}


/* ----------------------------------------
Css3 Animations
---------------------------------------- */

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* ----------------------------------------
Top Bar
---------------------------------------- */


/* Default Styling */

.navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    min-height: 10px;
}

.navbar-brand {
    font-size: 20px;
    color: #4786ff;
    height: auto;
    padding: 10px 15px;
}

.cs-logo {
    height: 30px;
    width: 142px;
}

.dropdown-menu {
    padding: 5px 0;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    min-width: 210px;
    border: 0 !important;
    border-radius: 3px;
    box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.08);
    -webkit-transform-origin: 10% top;
    transform-origin: 10% top;
    -webkit-transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s -webkit-transform cubic-bezier(0.1, 1.26, 0.83, 1);
    transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s -webkit-transform cubic-bezier(0.1, 1.26, 0.83, 1);
    transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
    transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1), 0.15s -webkit-transform cubic-bezier(0.1, 1.26, 0.83, 1);
}

.dropdown-menu:after {
    position: absolute;
    content: "";
    top: -10px;
    left: 70px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.open>.dropdown-menu {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0s, 0.2s, 0.2s;
    transition-duration: 0s, 0.2s, 0.2s;
}


/* Show Dropdown Menu on hover */

ul.nav li:hover>ul.dropdown-menu {
    display: block;
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0s, 0.2s, 0.2s;
    transition-duration: 0s, 0.2s, 0.2s;
}


/* Show Dropdown Menu on hover */

.dropdown-menu>li>a {
    color: #545454;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 20px;
    position: relative;
}

.dropdown-menu>li>a:hover:after {
    position: absolute;
    -webkit-transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s -webkit-transform cubic-bezier(0.1, 1.26, 0.83, 1);
    transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s -webkit-transform cubic-bezier(0.1, 1.26, 0.83, 1);
    transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
    transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1), 0.15s -webkit-transform cubic-bezier(0.1, 1.26, 0.83, 1);
    left: 0;
    top: 0;
    background: #4786ff;
    width: 3px;
    height: 35px;
    content: "";
}

.dropdown-menu>li>a:hover {
    color: #4786ff;
}


/* Toggle Button styling */

.navbar-toggle {
    border: 0;
}

.offcanvas-toggle {
    background: transparent !important;
    padding-right: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/* ends Default Styling */

.cs-topbar {
    background-color: #fff;
}

.cs-topbar .navbar-nav>li>a {
     
    font-weight: 500;
    font-size: 13px;
    border-radius: 2px;
    background-color:#4786ff;
    margin-left: 3px;
}

.cs-topbar .navbar-nav>li>a:hover {
    background-color: #fff; !important;
     
}

.cs-nav-btn {
    margin-top: 10px;
    height: 33px;
    line-height: 33px !important;
    padding: 0 22px !important;
}

@media(max-width:768px) {
    .cs-nav-btn {
        padding: 0 13px !important;
    }
    .cs-topbar .navbar-nav>li>a {
        background: transparent;
    }
}


/* ----------------------------------------
Main Navigation Bar
---------------------------------------- */

.navbar-default.pw-navbar-default {
    background:#4786ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.navbar-default.pw-navbar-default.navbar-fixed-top {
     background:#4786ff;
   /* box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.15);*/
}
.navbar-default .navbar-nav>.active>a{
    background: transparent;
}

.navbar-default.pw-navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.navbar-primary .navbar-nav .active>.nav-link:after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    width: 44px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    bottom: 1px;
}
.navbar-default.pw-navbar-default .navbar-nav>li>a:focus,
.navbar-default.pw-navbar-default .navbar-nav>li>a:hover,
.navbar-default.pw-navbar-default .navbar-nav>.open>a,
.navbar-default.pw-navbar-default .navbar-nav>.open>a:focus,
.navbar-default.pw-navbar-default .navbar-nav>.open>a:hover {
    background-color:  #4786ff;
    color:  #fff;
}

@media(max-width:768px) {
    .navbar-default.pw-navbar-default .navbar-nav>li>a {
        font-size: 18px;
    }
}


/* Nabar Responsive */

@media(min-width:770px) {
    /* Fixing Offcanvas menu plugin "displying Issue" (lg screens) */
    #js-bootstrap-offcanvas {
        height: 0 !important;
    }
}

@media(max-width:768px) {
    /* Styling Offcanvas menu plugin */
    .navbar-offcanvas {
        overflow: hidden;
        overflow-y: auto;
    }
    ul.dropdown-menu>li>.dropdown-menu {
        padding-left: 15px;
    }
    /* Positioning elements on offcanvas bar */
    .cs-topbar .navbar-right {
        position: absolute;
        right: 50px;
        top: 0;
        margin: 0;
    }
    .navbar-toggle {
        position: absolute;
        right: 0;
        top: 1px;
    }
}


/* Dropdown Menu Styling */

@media(min-width:768px) {
    ul.dropdown-menu>li>.dropdown-menu {
        top: 0;
        left: 100%;
    }
}


/* ----------------------------------------
Hero Header
---------------------------------------- */

.hero-header {

   background-size: cover !important;
    position: relative;
    padding-top: 200px;
}

/*.hero-header:before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}*/
.btn-hero {
    border-radius: 50px;
    background: #ff9800;
    font-size: 16px;
    text-transform: uppercase;
    height: 44px;
}

.cs-hero-title {
    color: #3e3d77;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 30px;
}
.hero-content{ margin-top: 70px;margin-bottom: 50px;}
.cs-hero-title span {
    color: #673AB7;
}

.btn-action {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: rgba(51, 51, 51, 0);
    color: #fefefe;
    border-radius: 27px;
}

.btn-action:hover,
.btn-action:focus {
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px 0px rgba(47, 37, 37, 0.9);
    background-color: rgba(255, 255, 255, 0.13);
}

.cs-header-screens {
    position: relative;
    height: 500px;
}

.hero-img1 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero-img2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

@media(max-width:768px) {
    .cs-hero-title {
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    }
    .hero-header {
        padding-top: 50px;
    }
    .btn-action {
        display: block;
        margin: auto;
        max-width: 220px;
    }
    .navbar-fixed-top {
        top: 0 !important;
    }
}

@media (min-width:600px) and (max-width:768px) {
    .hero-img1,
    .hero-img2 {
        width: 43%;
    }
}

@media (min-width:400px) and (max-width:600px) {
    .hero-img1,
    .hero-img2 {
        width: 55%;
    }
}

@media(max-width:400px) {
    .hero-img1,
    .hero-img2 {
        width: 70%;
    }
    .cs-header-screens {
        height: 400px;
    }
}


/* Navigation Search */

.cs-nav-search {
    width: 300px;
    display: inline-block;
    margin-left: 100px;
    float: left;
}

.cs-nav-search .form-control {
    background: transparent;
    height: 35px;
    margin-top: 7px;
    width: 80%;
    border: 0;
    color: #ffffff !important;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: none;
    outline: none;
}

.cs-nav-search .form-control:focus {
    border: 0;
    border-bottom: 1px solid #444444;
    box-shadow: none;
    outline: none;
    width: 100%;
}

.cs-nav-search .input-group {
    margin-bottom: 0;
}

.widget-serch-btn {
    display: block;
    font-size: 19px;
    color: #fefefe;
    background: none;
    position: absolute;
    right: 5px;
    top: 33%;
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 3;
    opacity: .5;
}

@media(max-width:769px) {
    .cs-nav-search {
        width: 30px;
        position: absolute;
        right: 92px;
        top: 5px;
    }
    .widget-serch-btn {
        position: relative;
        top: 8px;
        opacity: 1;
    }
    .cs-nav-search .form-control {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;color: #fff;
        cursor: pointer;
        text-indent: -5000px;
    }
    .cs-nav-search .form-control {
        height: 40px;
    }
    .cs-nav-search .form-control:focus {
        position: fixed;
        left: 0;
        padding: 10px;
        top: 0;color: #fff;
        width: 100%;
        background: #232323;
        text-indent: initial;
    }
}

@media(min-width:800px){
    .cs-responsive-menu span{
        display: inline-block;
    }
    .cs-responsive-menu i{
        display: none;
    }

}
@media(max-width:800px){
    .cs-responsive-menu span{
        display: none;
    }
    .cs-responsive-menu i{
        display: inline-block;
    }

}
/* ----------------------------------------
Footer
---------------------------------------- */

footer {
    padding-top: 80px;
    padding-bottom: 60px;background: #fff;
    border-top: 2px solid #f5f5f5;
}

.cs-footer-logo {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin-bottom: 20px;
}

.cs-site-footer-info {
    margin-top: 0;
    color: #555555;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 27px;
}

.cs-footer-title {
    color: #b7b7b7;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.cs-social-share .cs-title {
    color: #444444;
    font-size: 22px;
    font-weight: 500;
    vertical-align: middle;
    margin-right: 30px;
}

.cs-social-share>li+li {
    display: inline-block;
    margin-left: 7px;
}

.cs-social-share>li {
    display: inline-block;
}

.cs-social-share>li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.cs-footer-links>li>a {
    color: #555555;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
}

.cs-footer-links>li>a:hover {
    color: #4786ff;
}

.cs-copyright {
    color: #0e0e0e;
    font-size: 15px;
    font-weight: 400;
    margin-top: 42px;
}

@media(max-width:768px) {
    .cs-social-share .cs-title {
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}


/* Brand Colors */

.brand-facebook {
    background: #3b5998
}

.brand-twitter {
    background: #00a0d1
}

.brand-pinterest {
    background: #bd081b
}

.brand-facebook:hover {
    background: #3b5999;
}

.brand-twitter:hover {
    background: #55acee
}

.brand-pinterest:hover {
    background: #bd081c
}

@media(max-width:768px) {
    .cs-footer-title {
        margin-top: 40px;
    }
}

.cs-copyrights {
    padding: 20px 15px 15px;
    background: #fbfbfb;
    text-align: center;
}


/* ----------------------------------------
Preloader
---------------------------------------- */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../images/loader.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}


/* ----------------------------------------
Product Card #COMPONENT
---------------------------------------- */

.cs-product {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(206, 206, 206, 0.5);
    margin-bottom: 32px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.cs-product-img {
    height: 180px;
    padding: 5px;
}

.cs-product-img img {
    width: 100%;
    height: 100%;
}

.cs-product-content {
    padding: 20px ;
    background: #fff;
}

@media(max-width:768px) {
    .cs-product-content {
        padding: 10px 15px 15px;
    }
    .cs-product-img {
        height: auto;
    }
}

.cs-product-title {
    display: inline-block;
    color: #444444;
    font-size: 18px;
    font-weight: 500;
}

.cs-product-title:hover {
    color: #1d84df;
}

.cs-product-content ul {
    margin-top: 20px;
}

.cs-product-content ul>li {
    display: inline-block;
}

.cs-product-content ul>li>a {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.cs-product-content .cs-icon {
    vertical-align: middle;
    width: 24px;
    height: 22px;
    margin-right: 5px;
}


/* ----------------------------------------
Testimonial Card #COMPONENT
---------------------------------------- */


/* Slick Slider Styling */

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots li {
    margin: 0;
}

.slick-slide {
    outline: none !important;
}

.cs-testimonial-card h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
}

.cs-testimonial-card p {
    margin: 25px 0;
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    max-width: 500px;
}

.cs-testimonial-icon {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    overflow: hidden;
}

.cs-testimonial-icon img {
    width: 100%;
    height: 100%;
}

.cs-testimonial-card .media-left {
    padding-right: 20px;
}

.cs-testimonial-card .media-body h4 {
    margin-top: 22px;
}

@media(max-width:1200px) {
    .cs-testimonial-card {
        padding: 20px;
    }
}


/* ----------------------------------------
Team Card #COMPONENT
---------------------------------------- */

.cs-team-card {
    max-width: 262px;
    margin-left: auto;
    margin-right: auto;
}

.grid figure {
    height: 260px;
}

.cs-team-content {
    padding: 15px 25px;
    clear: both;
    text-align: center;
}

@media(max-width:768px) {
    .cs-team-card {
        margin-bottom: 30px;
    }
    .cs-team-content {
        border: 1px solid #f1f1f1;
    }
}

.cs-team-links>li {
    display: inline-block;
    margin: 0 10px;
}

.cs-team-links>li>a {
    display: inline-block;
    color: #fefefe;
    font-size: 15px;
}


/* Image Hover Effects */

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/* css hover effect  */

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: transparent;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    -webkit-transition: color 0.35s, -webkit-transform 0.35s;
    transition: color 0.35s, -webkit-transform 0.35s;
    transition: transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie .cs-team-links {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-sadie .cs-team-links {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover .cs-team-links {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* ----------------------------------------
Info Box Center #COMPONENT
---------------------------------------- */

.cs-info-box-center {
    text-align: center;
}

.cs-info-box-center img {
    margin: auto;
    margin-bottom: 25px;
    max-width: 60px;
    display: block;
}

.cs-info-box-center h4 {
    color: #333333;
    font-size: 19px;
    font-weight: 500;
}

.cs-info-box-center p {
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    max-width: 304px;
    display: block;
    margin: auto;
    line-height: 26px;
}

@media(max-width:768px) {
    .cs-info-box-center {
        margin-bottom: 40px;
    }
}


/* ----------------------------------------
Info Box Left #COMPONENT
---------------------------------------- */

.cs-info-box-left .cs-title {
    color: #333333;
    font-size: 22px;
    font-weight: 500;
}

.cs-info-box-left img {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-right: 26px;
    vertical-align: middle;
}

.cs-info-box-left p {
    color: #777777;
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
    line-height: 28px;
    margin-bottom: 15px;
}

.cs-info-box-left a {
    display: block;
    margin-top: 10px;
    color: #232323;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.cs-info-box-left a:hover {
    text-decoration: underline;
}

@media(max-width:768px) {
    .cs-info-box-left .cs-title {
        font-size: 16px;
    }
    .cs-info-box-left img {
        width: 40px;
        margin-right: 7px;
        height: 40px
    }
    .cs-info-box-left,
    .cs-info-box-right {
        margin-bottom: 50px !important;
    }
}


/* ----------------------------------------
Info Box Bordered #COMPONENT
---------------------------------------- */

.cs-info-box-bordered {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    background-color: #ffffff;
    padding: 42px 22px;
}

.cs-info-box-bordered .cs-icon {
    border-radius: 2px;
    background-color: #ededed;
    font-size: 27px;
    color: #fff;
    line-height: 0;
    color: #fff;
    height: 64px;
    width: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
}

.cs-info-box-bordered .cs-icon img {
    width: 27px;
}

.cs-info-box-bordered h4 {
    color: #333333;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
}

.cs-info-box-bordered p {
    color: #777777;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
}

.cs-info-box-bordered .cs-icon.color-teal {
    background-color: #17adcb;
}

.cs-info-box-bordered .cs-icon.color-yellow {
    background-color: #f3c716;
}

.cs-info-box-bordered .cs-icon.color-maroon {
    background-color: #ee4766;
}

.cs-info-box-bordered .cs-icon.color-red {
    background-color: #ed5252;
}

.cs-info-box-bordered .cs-icon.color-green {
    background-color: #97cf42;
}

.cs-info-box-bordered .cs-icon.color-orange {
    background-color: #f69a18;
}


/*----------------------------------------
Icon Text #COMPONENT
---------------------------------------- */

.cs-icon-text+.cs-icon-text {
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top: 20px;
}

.cs-icon-text .media-left {
    padding-right: 25px;
}

.cs-icon-text .cs-icon {
    color: #ff9800;
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
}

.cs-icon-text p {
    color: #949494;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
}


/*----------------------------------------
Icon List #COMPONENT
---------------------------------------- */

.cs-icon-list {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e8e8;
    background-color: #ffffff;
    margin-bottom: 30px;
    max-height: 500px;
    overflow-y: auto;
}

.cs-icon-list>li>a {
    background: #fff;
    padding: 20px 23px;
    color: #777777;
    font-size: 16px;
    font-weight: 500;
    display: block;
    -webkit-transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1)
}

.cs-icon-list>li+li {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    ;
}

.cs-icon-list>li>a i {
    margin-right: 12px;
    font-size: 18px;
    -webkit-transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.cs-icon-list>li>a:hover {
   background: #4786ff;
    color: #fff;
}

.cs-icon-list>li>a:hover i {
    -webkit-transform: scale(2);
    transform: scale(2);
    margin-right: 20px;
}


/*----------------------------------------
Contact Item Chip #COMPONENT
---------------------------------------- */

.cs-item-chip .media-object {
    width: 53px;
    margin-right: 7px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
}

.cs-item-chip h4 {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    margin: 5px 0;
}

.cs-item-chip h5 {
    color: #777777;
    font-size: 16px;
    margin-top: 0;
    margin: 5px 0;
    font-weight: 500;
}

.cs-item-chip p {
    color: #949494;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.cs-item-chip .cs-font-icon {
    font-size: 25px;
    color: #4786ff;
    margin-top: -2px;
}

.cs-font-icon img {
    width: 25px;
    height: 25px;
}


/*----------------------------------------
Price Tables #COMPONENT
---------------------------------------- */

.cs-price-card {
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    background-color: #ffffff;
}

.cs-price-card-img {
    position: relative;
    height: 210px;
}

.cs-price-card-img img {
    width: 100%;
    height: 100%;
}

.cs-price-card-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cs-price-card-img .cs-price-card-info {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 60px;
    width: 100%;
}

.cs-price-card-info>h4 {
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.cs-price-card-info>p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.cs-price-card-features>li {
    color: #777777;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.cs-price-card-features>li i {
    margin-right: 10px;
    color: #4786ff;
}

.cs-price-card-features>li+li {
    border-top: 1px solid #dddddd;
}

.cs-price-card .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(min-width:1200px) {
    .cs-price-card:hover .cs-price-card-info>h4 {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

a.secondary-color:hover {
    color: #ff5959;
    text-decoration: underline;
}

.cs-price-tag {
    position: absolute;
    left: 8px;
    top: 8px;
    background: #66ad44;
    padding: 4px 10px;
    color: #fff;
    border-radius: 27px;
    font-size: 11px;
}

@media(max-width:768px) {
    .cs-price-card-features>li {
        padding-top: 8px;
        margin-bottom: 8px;
        font-size: 13px;
    }
    .cs-price-card {
        margin-bottom: 40px;
    }
    .cs-price-card-img {
        height: auto;
    }
}


/*----------------------------------------
Video Card #COMPONENT
---------------------------------------- */

.cs-video-card {
    margin-bottom: 50px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cs-video-card-img {
    position: relative;
    height: 260px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.cs-video-card-img img {
    width: 100%;
    height: 100%;
}

.cs-video-card-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cs-video-card-img .cs-play-btn {
    border-radius: 50%;
    background-color: #ffffff;
    width: 68px;
    height: 68px;
    margin: auto;
    position: absolute;
    color: #e74d29;
    font-size: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .3s ease-In-Out;
    transition: all .3s ease-In-Out;
}

.cs-video-card:hover .cs-video-card-img .cs-play-btn {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background: #e74d29;
    color: #fff;
}

.cs-video-card-content .cs-video-card-title {
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #333333;
    font-size: 19px;
    font-weight: 500;
}

.cs-video-card-content .cs-video-card-title:hover {
    color: #1d84df;
}

.cs-video-card-content .cs-video-card-date {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

.cs-video-card-content .cs-video-card-duration {
    color: #e74d29;
    font-size: 16px;
    font-weight: 400;
    float: right;
}


/* Video Single Page View */

.cs-video-description {
    margin-top: 30px;
    color: #949494;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.cs-video-frame {
    max-width: 800px;
    margin: auto;
    max-height: 450px;
}

.cs-row-sm {
    margin-top: 80px;
    margin-bottom: 30px;
}

.cs-include-top-border {
    border-top: 1px solid #f1f1f1;
}


/*----------------------------------------
Panel Type Box #COMPONENT
---------------------------------------- */

.cs-panel-box {
    margin-bottom: 30px;
}

.cs-panel-box-content {
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    background-color: #ffffff;
    padding: 30px;
}

.cs-panel-box-content .media-left {
    padding-right: 30px;
    text-align: center;
}

.cs-panel-box-content .media-left .cs-img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    overflow: hidden;
}

.cs-panel-box-content .media-left h4 {
    color: #333333;
    margin-top: 21px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}

.cs-panel-box-content .media-body h4 {
    color: #333333;
    font-size: 17px;
    font-weight: 500;
}

cs-panel-box-content .media-body p {
    color: #949494;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.cs-panel-box-actions {
    background-color: #f6f6f6;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 40px;
}

@media(max-width:768px) {
    .cs-panel-box-content .media-left {
        display: block;
        padding-right: 0;
    }
    .cs-panel-box-content .media-body {
        text-align: center;
    }
    .cs-panel-box-content,
    .cs-panel-box-actions {
        padding: 15px;
    }
    .cs-right-siderbar {
        margin-top: 50px;
    }
}


/*----------------------------------------
Blog Card #COMPONENT
---------------------------------------- */

.cs-blog-card {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 30px;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 360px;
}

.cs-blog-img {
    height: 208px;
}

.cs-blog-img img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cs-blog-content {
    padding: 20px 22px;
    border-style: solid;
    border-width: 1px;
    border-color: #ededed;
    border-top-color: transparent;
    box-shadow: 0px 1px 0px 0px #eaeaea;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cs-blog-content .cs-blog-category {
    color: #66ad44;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.cs-blog-content p {
    color: #949494;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cs-blog-content .cs-blog-title {
    margin-top: 15px;
    display: block;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.cs-blog-content .cs-blog-title:hover {
    color: #4275f4;
}

.cs-blog-content .cs-blog-author {
    color: #4275f4;
    font-size: 14px;
    font-style: italic;
}

.cs-blog-content .cs-blog-date {
    color: #949494;
    float: right;
    font-size: 13px;
    font-weight: 400;
}


/* Blog Single View #Extending Blog Card Component */

.cs-blog-view-img {
    margin-bottom: 25px;
}

.cs-blog-view .cs-blog-content {
    border: 0;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 0;
}

.cs-blog-view .cs-blog-content .cs-blog-title {
    font-size: 32px;
    line-height: 42px;
}

.cs-blog-view .cs-blog-content .cs-blog-title:hover {
    color: #333333;
}

.cs-blog-view .cs-postedby {
    color: #949494;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.cs-blog-view .cs-blog-content p {
    font-family: 'Lora', serif;
    color: #404040;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.cs-blog-view h2 {
    color: #333333;
    font-size: 30px;
    font-weight: 500;
    margin: 23px 0;
}

.cs-blog-view .cs-social-share {
    text-align: center;
    background-color: #f7f8f9;
    padding: 20px;
}

@media(min-width:1200px) {
    .cs-left-add-pad {
        padding-left: 60px;
    }
}

.cs-blog-widget-title {
    color: #66ad44;
    font-size: 28px;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 32px;
}


/*----------------------------------------
Widgets
---------------------------------------- */


/* Normal Widget Box */

.cs-widget-box {
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    background-color: #ffffff;
    padding: 35px;
    margin-bottom: 30px;
}

.cs-widget-title {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
}


/* Advanced Widget Box with title line */

.cs-widget-card {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.cs-widget-title-line {
    padding: 15px 20px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 0;
    color: #777777;
    font-size: 18px;
    font-weight: 500;
}

.cs-widget-card-content {
    padding: 20px;
}


/* Contact list widget (Extending Contact chip component) */

.cs-widget-contactlist>li+li {
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
    margin-top: 20px;
}


/* Widget- Item Information */

.cs-item-info-list strong {
    min-width: 200px;
    display: inline-block;
}

.cs-item-info-list span {
    display: inline-block;
}

.cs-item-info-list>li {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}


/*Item Tags #Widget */

.cs-tags>li {
    display: inline-block;
    padding: 0 2px;
    margin-bottom: 9px;
}

.cs-tags>li>a {
    display: inline-block;
    color: #4786ff;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 0px;
}

.cs-tags>li>a:hover,
.cs-tags>li>a:focus {
    color: #1d84df;
}

.cs-tags>li>a:focus {
    text-decoration: underline;
}


/*----------------------------------------
Call To Action 
---------------------------------------- */

.cs-page-banner {
    padding: 25px 0;
}

.cs-page-banner-title {
    color: #6b758a;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin-bottom: 0;
}

@media(min-width:768px) {
    .cs-page-banner-title {
        font-size: 28px;
        text-align: left;
        line-height: 32px;
        font-weight: 500;
        padding-left: 15px;
    }
   
}

.cs-call-to-action {
    padding: 60px 0;
}

.cs-call-to-action .form-inline {
    margin-top: 20px;
}

.cs-call-to-action h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}

.cs-call-to-action .form-group {
    width: 76%;
}

.cs-call-to-action .form-control {
    width: 97.5%;
    border: 0;
    padding-left: 20px;
}

@media(max-width:768px) {
    .cs-call-to-action h2 {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        font-weight: lighter;
    }
}

@media(max-width:1200px) {
    .cs-call-to-action .form-group {
        width: 100%;
        margin-bottom: 10px;
    }
    .cs-call-to-action .form-control {
        width: 100%;
    }
    .cs-call-to-action button {
        display: block;
        margin: auto;
    }
}


/* ----------------------------------------
Cart & Checkout Related Css
---------------------------------------- */


/* Checkout Box Component*/

.cs-checkout-card {
    background-color: #1e2432;
    padding: 50px 23px;
}

.cs-checkout-card ul {
    margin-bottom: 30px;
}

.cs-checkout-card ul>li {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
}

.btn-checkout {
    background-color: #1e2432;
    width: 360px;
}


/* Cart Table Styling */

.table-responsive {
    padding: 7px;
    margin: -7px;
}

@media(max-width:768px) {
    .table-responsive {
        margin-bottom: 50px;
    }
}

.cs-cart-table.table {
    border-style: solid;
    border-width: 1px;
    border-color: #f3f3f3;
    background-color: rgba(248, 248, 248, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.cs-cart-table.table th {
    text-align: left;
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    background: #fff;
    border: 0;
    padding: 12px 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.cs-cart-table.table td {
    color: #181818;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    padding: 40px 20px;
    vertical-align: middle;
    border: 0;
    text-transform: uppercase;
}

@media(max-width:768px) {
    .cs-cart-table.table th {
        padding: 20px 15px;
    }
    .cs-cart-table.table td {
        padding: 20px 15px;
    }
}

.cs-cart-table.table>tbody>tr>td {
    border-top: 1px solid #e4e4e4;
}

.cs-close-btn {
    border: 1px solid #ff3939;
    background: #fff;
    width: 25px;
    height: 25px;
    color: #ff3939;
    font-size: 11px;
    -webkit-transition: all .2s ease-In-Out;
    transition: all .2s ease-In-Out;
}

.cs-close-btn:hover {
    background: #ff3939;
    color: #fff;
}


/* ----------------------------------------
Catalog Page
---------------------------------------- */


/* Product Filters */

.cs-filter-bar {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e8e8;
    background-color: #ffffff;
    padding: 18px 30px;
    margin-bottom: 40px;
}

.cs-filter-bar>li {
    display: inline-block;
}

.cs-filter-bar>li>a {
    display: inline-block;
    color: #b2b5c4;
    font-size: 18px;
    font-weight: 500;
}

.cs-filter-bar>li.active>a {
    color: #333333;
}

.cs-filter-bar>li:last-child {
    float: right;
}

.cs-filter-bar>li:last-child>a {
    color: #fe5b60;
    font-size: 15px;
}

.cs-filter-bar>li:last-child:before {
    content: none;
}

@media(min-width:769px) {
    .cs-filter-bar>li+li:before {
        padding: 0 20px;
        color: #ccc;
        content: "|";
    }
}

@media(max-width:769px) {
    .cs-filter-bar>li {
        float: left;
        width: 50%;
        margin: 7px 0;
    }
}


/* ----------------------------------------
Product Single Item View
---------------------------------------- */


/* Product Single View Frame */

.cs-product-frame {
    padding: 10px;
    background: #fff;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.cs-product-frame img {
    border: 1px solid #f1f1f1;
}

.cs-product-frame .cs-social-share {
    margin: 23px auto;
}


/* Item Details */

@media(min-width:768px) {
    .cs-item-details {
        padding: 30px;
    }
}

.cs-item-details p {
    color: #444444;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 35px;
}

.cs-item-details h4 {
    color: #101010;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}

.cs-item-details ul {
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    padding-left: 40px;
}

.cs-item-details ul>li {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
}

.cs-item-details ul>li>a {
    color: #4786ff;
}


/* Item Price Box */

.cs-item-price-box {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
}

.cs-item-price-box ul>li+li {
    margin-top: 20px;
}

.cs-item-price-box h4 {
    color: #000000;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.cs-item-price-box span {
    color: #a1a0a0;
    font-size: 25px;
}

.cs-item-price-box strong {
    text-decoration: line-through;
    margin: 0 5px;
}


/* ----------------------------------------
Login Page
---------------------------------------- */

.cs-account-features {
    text-align: center;
}

.cs-account-features+.cs-account-features {
    margin-top: 80px;
}

.cs-account-features {
    margin-top: 40px;
    margin-bottom: 40px;
}

.cs-account-features h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

.cs-account-features img {
    width: 40px;
    height: 40px;
}

.cs-box-resize {
    max-width: 400px;
    padding: 50px !important;
}.cs-box-resize-sign {
    max-width: 600px;
    padding: 30px;
}

 @media (min-width: 768px){
    .text-center.cs-page-banner-title {
        text-align: center;
    }
}

@media(max-width:768px) {
    .cs-box-resize {
        padding: 50px 0;
    }
}

.cs-inline-list>li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.cs-inline-list {
    margin-bottom: 30px;
    margin-top: 20px;
}

.cs-inline-list>li>a {
    color: #ff5959;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

cs-inline-list>li.active {
    color: #333333;
}

.cs-inline-list>li+li:before {
    padding: 0 17px;
    content: "|";
    color: #333333;
}

@media(min-width:768px) {
    .cs-line-border {
        border-right: 2px dotted #c6c6c6;
    }
}

@media(max-width:768px) {
    .cs-line-border {
        border-bottom: 2px dotted #c6c6c6;
    }
}


/* ----------------------------------------
Knowledge Base Page
---------------------------------------- */


/* Cs Inner Search bar */

.cs-inner-searchbar input {
    border: 1px solid #dbdbdb;
    border-right-color: #66ad44;
    border-radius: 0;
    background-color: #fff;
    height: 60px;
    color: #232323;
    box-shadow: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
}

.cs-search-btn {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    background-color: #66ad44;
    width: 68px;
    height: 60px;
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.cs-search-btn:hover {
    color: #ffffff;
}

@media(max-width:768px) {
    .cs-inner-searchbar input {
        height: 45px;
        padding-left: 15px;
    }
    .cs-search-btn {
        height: 45px;
        width: 45px;
        font-size: 16px;
    }
}


/* Popular Search Tags List */

.cs-popular-search-tags {
    padding-bottom: 6px;
}

.cs-popular-search-tags>li {
    display: inline-block;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.cs-popular-search-tags>li>a {
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
}


/* Ticket Not Found */

.cs-ticket-notfound {
    padding: 30px;
    margin-top: 50px;
    text-align: center;
}

.cs-ticket-title {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
}

.cs-ticket-title i {
    color: #fecc00;
    font-size: 26px;
    margin-right: 25px;
    margin-top: 7px;
}


/* Knoledge Base Single Item */

.cs-knowledge-panel {}

.cs-knowledge-title {
    color: #222222;
    font-size: 26px;
    font-weight: 500;
}

.cs-knowledge-details>li {
    color: #777777;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}

.cs-knowledge-details>li>a {
    color: #e54f22;
    margin-left: 6px;
}

.cs-knowledge-details>li+li:before {
    padding: 0 10px;
    content: "|";
}

.cs-knowledge-details>li>a:hover {
    text-decoration: underline;
}

.cs-panel-content {
    font-family: 'Open Sans', sans-serif;
}

.cs-panel-content p {
    color: #777777;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.cs-panel-content ol {
    margin-bottom: 35px;
}

.cs-panel-content ol>li {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
}

.cs-panel-content ul {
    list-style: none;
    padding-left: 30px;
}

.cs-panel-content ul>li {
    padding-left: 1.3em;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}

.cs-panel-content ul>li:before {
    content: "\f0a9";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    /* same as padding-left set on li */
    width: 1.7em;
    /* same as padding-left set on li */
}

blockquote {
    padding: 0px 40px;
    margin: 40px 0 40px;
    border-left: 5px solid #dbdbdb;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}


/* article-feedback */

.btn-feedback {
    border-radius: 4px;
    width: 80px;
    height: 45px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    line-height: 45px;
}

.btn-yes {
    background-color: #4275f4;
}

.btn-no {
    background-color: #e54f22;
}

.btn-yes:hover,
.btn-no:hover {
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
}


/* Related Articles */

.cs-related-articles {
    margin-top: 40px;
}

.cs-related-articles h4 {
    color: #333333;
    font-size: 22px;
    font-weight: 500;
}

.cs-related-articles-list>li {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

.cs-related-articles-list>li>a {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

.cs-ficon .fa {
    color: #e54f22;
}

@media(max-width:768px) {
    .cs-right.cs-ficon {
        float: none;
        display: block;
        margin-bottom: 10px;
        margin-top: -10px;
    }
}


/* Comment Form */

.cs-comment-form {
    margin-top: 40px;
}

.cs-comment-form h4 {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.cs-comment-form .form-control {
    border-radius: 5px;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}

.cs-comment-form button {
    border-radius: 4px;
}


/* ----------------------------------------
Forum Page
---------------------------------------- */

.cs-forum-title {
    color: #333333;
    margin-bottom: 26px;
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
}


/* ----------------------------------------
About Us Page
---------------------------------------- */


/* Subscribe Section */

.cs-subscribe {
    background: url(../images/subscribe.jpg) center center no-repeat;
    position: relative;
}

.cs-subscribe:before {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.cs-subscribe h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 35px;
}

@media(min-width:1200px) {
    .cs-subscribe h2 {
        font-size: 38px;
        font-weight: 900;
        margin-bottom: 45px;
    }
    .cs-background-img {
        background: url(../images/img-bg.jpg) center center no-repeat;
        padding-top: 90px;
    }
}

.cs-subscribe .btn {
    width: 167px;
    padding: 12px;
}


/* Custom Grid 5 col per row */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media only screen and (max-width: 480px) {
    .form-email-subscribe input {
        min-width: initial;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


/* Partners*/

.cs-partner-logo {
    border-style: solid;
    border-width: 4px;
    border-color: #f2f2f2;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 20px;
    overflow: hidden;
    height: 142px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media(min-width:1200px) {
    .cs-partner-logo {
        width: 212px;
    }
}


/* ----------------------------------------
Google Maps
---------------------------------------- */

.google-map {
    height: 450px;
    width: 100%;
}

@media(min-width:768px) {
    .cs-right-pad-lg {
        padding-right: 45px;
    }
}


/*Document end */
@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
.cs-icon-list li.active a{
   
   background: #4786ff;
   color: #fff;
}

.exam-button {
    padding: 0px;
    margin-left: 30px;
    border-radius: 10px;
}
.lms-button {
    padding: 0px;
    border-radius: 10px;
}
.mt-0{margin-top: 0 !important}
.mt-2{margin-top: 10px !important}

.cs-box-resize {
    max-width: 400px;
    padding: 50px;
}

.login-box {
    border: 1px solid #e6e6e6;
    display: block;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 20px 0px rgba(1, 1, 1, 0.05);
    box-shadow: 2px 3px 20px 0px rgba(1, 1, 1, 0.05);
}

.login-bg {
    background: #f8fafb;
}

.login-head {
    font-size: 22px;
    font-weight: 500;
    color: #232323;
}

@media(max-width:768px) {
    .cs-box-resize {
        padding: 50px 0;
    }
}

.login-links > li {
    display: inline-block
}

.login-links > li > a {
    font-size: 15px;
    font-weight: 500;
    color: #666666;
}

.login-links > li:last-child {
    float: right;
}



/****************************
Practice exams page
paid / free tags
*****************************/

 .corner_ribbon.blue{
  background-color: #39d;
  color:#fff;
  
}
.corner_ribbon.gray{
  background: #999;
  color:#fff;
}
.ribbon_box{
  position: relative;
  /*overflow: hidden;*/
}
.corner_ribbon{
  font-size: 13px;
  position:absolute;
  font-weight: 600;
  top:20px;
  left:-30px;
  transform: rotate(-45deg); 
 -webkit-transform: rotate(-45deg); 
 box-shadow: 0 0 3px rgba(0,0,0,.3);
 width: 120px;
 text-transform: uppercase;
}

.ribbon_box {
  position: relative;
}

.ribbon_box .ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;
}

.ribbon_box .ribbon span {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 130px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#B6BAC9 0%, #808080 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 28px; left: -27px;
}

.ribbon_box .ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}

.ribbon_box .ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.ribbon_box .ribbon.green span {
    background: #73AD21;
    background: linear-gradient(#579400 0%, #73AD21 100%);
}

.ribbon_box .ribbon.green span::before{
  border-left: 3px solid #3c763d;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3c763d;
}

.ribbon_box .ribbon.green span::after{
  border-left: 3px solid transparent;
  border-right: 3px solid #3c763d;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3c763d;
}

.ribbon_box .ribbon.red span{
  background: #B71C1C;
  background: linear-gradient(#EC6D64 0%, #B71C1C 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.ribbon_box .ribbon.red span::before{
  border-left: 3px solid #A71919;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A71919;
}

.ribbon_box .ribbon.red span::after{
  border-left: 3px solid transparent;
  border-right: 3px solid #A71919;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A71919;
}


.ribbon_box .ribbon.yellow span{
  background: #F1A702;
  background: linear-gradient(#f39c12 0%, #FB8204 100%); 
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.ribbon_box .ribbon.yellow span::before{
  border-left: 3px solid #D0710E ;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #D0710E ;
}

.ribbon_box .ribbon.yellow span::after{
  border-left: 3px solid transparent;
  border-right: 3px solid #D0710E ;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #D0710E ;
}


/***************************
Pages css
****************************/
.cs-page-banner {
    margin-top: 110px;
    margin-bottom: 50px;
}

.page-content {
    padding: 0 15px;
    margin-bottom: 50px;
}


/***************************
Home page nav bar tablet size
****************************/
@media(max-width:768px) {
    .navbar-default.pw-navbar-default .navbar-nav>li>a {
        background: #4786ff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #4786ff;
    }

    .navbar-default.pw-navbar-default .navbar-nav>li>a {
        background: #4786ff;
    }
}


/*****************************
Home page search
******************************/
.search-no {
    vertical-align: middle;
    line-height: 90px; 
}